---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">

    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}

            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss"></i>
            </a>
        </div>
    </section>
</div>
<article class="container">
  <section class="index">
    <h1>Photograpy Gallery</h1>
  </section>
  <section class="index">
    <address>
      {% if site.author.image %}<img src="/images/{{ site.author.image }}" class="big-avatar">{% endif %}
      <p><strong><a rel="author" href="https://twitter.com/{{ site.author.twitter }}" title="{{ site.author_name }}" target="_blank" style="font-size: 1.5em;">{{ site.author.name }}</a></strong><br />
      <span class="muted">{{ site.author.bio }}</span>
      </p>
    </address>
  </section>
  {% for gallery in site.data['galleries'] %}
      <section class="index">
        <div class="row">
          {% if gallery.thumbnail %}
            <div class="col-sm-9">
          {% else %}
            <div class="col-sm-12">
          {% endif %}
          <h3 class="title">
            <a href="{{ gallery.url }}">{{ gallery.name }}</a>
          </h2>
          <div class="meta">
            {% if gallery.top %}
            TOP
            {% else %}
            {{ gallery.date }}
            {% endif %}
          </div>
          {% if gallery.excerpt %}
          <p>{{ gallery.excerpt }}</p>
          {% endif %}
          {% if gallery.thumbnail %}
            </div>
            <div class="col-sm-3">
              <a href="{{ gallery.url }}" rel="prefetch" class="thumbnail-link"><img src="{{ gallery.thumbnail }}" alt="thumbnail" class="thumbnail"></a>
            </div>
          {% else %}
            </div>
          {% endif %}
        </div>
        <hr>
      </section>
  {% endfor %}
</article>
