---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article>

    <div class="container">
        <header>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}
            <div class="meta">
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <div class="tags">
              {{ page | tags }}
            </div>
            <div class="hidden-seo">
              By <a href="{{ page.url }}" title="{{ page.title }}" rel="author">{{ site.author.name }}</a>
            </div>
        </header>
        
        <section class="video-section" style="margin-bottom: 1em;">
            {% if page.youtube %}
              <iframe width="{{ site.video.width }}" height="{{ site.video.height }}" src="//www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen class="video"></iframe>
            {% else %}
              <video class="video" width="{{ site.video.width }}" height="{{ site.video.height }}" preload=true>
                <source src="{{ page.video }}" />
              </video>
            {% endif %}
        </section>
        
        <section>
            {{ content }}
            {% include _social.html %}
        </section>
        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>
