---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article>

    <div class="container">
        <header>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h4 class="no-border subtitle">{{ page.subtitle }}</h4>{% endif %}
            <div class="meta">
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <div class="tags">
              {{ page | tags }}
            </div>
            <div class="hidden-seo">
              By <a href="{{ page.url }}" title="{{ page.title }}" rel="author">{{ site.author.name }}</a>
            </div>
        </header>

        <section class="article">
            {{ content }}
        </section>
        <section class="article">
          <hr>
          <h5>Share this article</h5>
          {% include _social.html %}
        </section>
        <section class="row">
          <hr>
          <div class="col-md-6">
            {% include _disqus.html %}
          </div>
          <div class="col-md-6">
            {% include _duoshuo.html %}
          </div>
        </section>
    </div>
</article>
